{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}sugang_form.html{% endblock %}

{% block content %}

<h1>Sugang Create/Update - {{user}} </h1>
<p class="font-italic">This is a creation or update form for your sugang. </p>

{% if form.errors %}
<div class="alert alert-danger">
    <div class="font-weight-bold">Wrong! Please correct the error(s) below. </div>
    {{ form.errors }}
</div>
{% endif %}

<form action="." method="post" class="card pt-3">
    {% csrf_token %}
    <!------------------------------------여기 수정하기 ------------------------------------->
    <div class="form-group row">
        {{ form.gwamok|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
        <div class="col-sm-2">
            {{ form.gwamok|add_class:"form-control" }}
        </div>
    </div>

    <div class="form-group">
        <div class="offset-sm-2 col-sm-5">
            <input type="submit" value="Submit" class="btn btn-info"/>
        </div>
    </div>

</form>

{% endblock %}