{% extends "base.html" %}

{% block title %}photo_search.html{% endblock %}

{% block extra-style %}

<h1>Photo Search</h1>
<br>
<form action="." method="post"> {% csrf_token %}
    {{ form.as_table }}
    <input type="submit" value="Submit" class="btn btn-primary btn-sm">
</form>
<br/><br/>
{% if object_list %}
{% for photo in object_list %}
<h2><a href="{% url 'photo:photo_detail' photo.id %}">{{ photo }}</a></h2>
<p>{{ photo.description }}</p>
{% endfor %}
{% elif search_term %}
<b><i>Search Word({{ search_term }}) Not Found!</i></b>
{% endif %}
{% endblock %}