{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}gwamok_form.html{% endblock %}

{% block content %}

<h1>Gwamok Create/Update - {{user}} </h1>
<p class="font-italic">This is a creation or update form for your gwamok. </p>

{% if form.errors %}
<div class="alert alert-danger">
    <div class="font-weight-bold">Wrong! Please correct the error(s) below. </div>
    {{ form.errors }}
</div>
{% endif %}

<form action="." method="post" class="card pt-3">{% csrf_token %}

    <div class="form-group row">
        {{ form.gwamoknum|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
        <div class="col-sm-5">
            {{ form.gwamoknum|add_class:"form-control"|attr:"autofocus" }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.semester|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
        <div class="col-sm-5">
            {{ form.semester|add_class:"form-control"|attr:"autofocus" }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.name|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
        <div class="col-sm-5">
            {{ form.name|add_class:"form-control" }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.professor|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
        <div class="col-sm-5">
            {{ form.professor|add_class:"form-control" }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.day|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
        <div class="col-sm-5">
            {{ form.day|add_class:"form-control" }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.time|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
        <div class="col-sm-5">
            {{ form.time|add_class:"form-control" }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.classroom|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
        <div class="col-sm-5">
            {{ form.classroom|add_class:"form-control" }}
        </div>
    </div>

    <div class="form-group row">
        {{ form.limitnum|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
        <div class="col-sm-5">
            {{ form.limitnum|add_class:"form-control"|attr:"autofocus" }}
        </div>
    </div>

    <div class="form-group">
        <div class="offset-sm-2 col-sm-5">
            <input type="submit" value="Submit" class="btn btn-info"/>
        </div>
    </div>

</form>

{% endblock %}