{% extends "base.html" %}

{% block title %}gwamok_search.html{% endblock %}

{% block extra-style %}

<h1>Gwamok Search</h1>
<br>
<form action="." method="post"> {% csrf_token %}
    {{ form.as_table }}
    <input type="submit" value="Submit" class="btn btn-primary btn-sm">
</form>
<br/><br/>
{% if object_list %}
{% for gwamok in object_list %}
<h2><a href="{% url 'gwamok:detail' gwamok.id %}">{{ gwamok }}</a></h2>
<p>{{ gwamok.description }}</p>
{% endfor %}
{% elif search_term %}
<b><i>Search Word({{ search_term }}) Not Found!</i></b>
{% endif %}
{% endblock %}